.card {
  color: rgb(5, 81, 133);
}

.card:hover {
  -ms-transform: (1.5);
  -webkit-transform: (1.5);
  transform: scale(1.05);
}

.icon {
  align-self: center;
}

.icon-div {
  background: #f0f8ff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.card-align {
  text-align: left;
}
