.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-content: space-around;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 20px;
    height: 100vh;
    padding: 10px;
}

.card {
    width: 18rem important !;
}