.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 50px 20px;
    padding: 10px;
}

.card {
    width: 18rem important !;
    margin: 20px
}